# Create a .env.development and a .env.production file
# with the following keys.
# Do NOT check these files into source control
CONTENTFUL_SPACE_ID="8qif2bdz3ayd"
CONTENTFUL_ACCESS_TOKEN="YO7Xr1czZi48tSPl_II0OX0FyYcycG79JHLJC-bnfr4"
